* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-primary: #4f65dc;
  --color-readable: #26263a;
  --color-readable-dim: #5d5d5d;
  --color-link: #1f89f4;
  --color-link-hover: #0099ff;
  --color-input-focus: #1f89f4;
  --color-background: #f8f8fc;
  --color-content: #fff;
  --color-border: #5e6771;
  --color-border-dim: #d1d1d1;
  --color-ghost-button-hover: #a4aee6;
}

html.dark {
  --color-primary: #7893fe;
  --color-readable: #e3e3f5;
  --color-readable-dim: #a2a2a2;
  --color-link: #66b4ff;
  --color-link-hover: #4bc9ff;
  --color-input-focus: #8796ff;
  --color-background: #1d1d1e;
  --color-content: #303237;
  --color-border: #4a515b;
  --color-border-dim: #3a3c3f;
  --color-ghost-button-hover: #6a56a3;
}

body {
  @apply bg-web-background font-body text-base font-normal text-web-readable;
  letter-spacing: 0.021rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary;
}

h1 {
  margin-top: 21px;
  margin-bottom: 14px;
  line-height: 1.2;
}
h1 > svg {
  font-size: 88% !important;
  vertical-align: middle !important;
}

h2,
h3 {
  margin-top: 18px;
  margin-bottom: 8px;
  line-height: 1.3;
}
h2 > svg,
h3 > svg {
  font-size: 94% !important;
  vertical-align: middle !important;
}

h4,
h5,
h6 {
  margin-top: 8px;
  margin-bottom: 4px;
  line-height: 1.5;
}
h4 > svg,
h5 > svg,
h6 > svg {
  font-size: 98% !important;
  vertical-align: middle !important;
}

h1 svg,
h2 svg,
h3 svg {
  max-width: 26px;
  max-height: 28px;
}

p {
  margin: 24px 0;
  word-break: break-word;
}

ul,
ol {
  padding-left: 24px;
  margin: 16px 0;
  list-style: disc outside none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer;
}

img {
  max-width: 100%;
  object-fit: contain;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

b,
strong {
  @apply font-bold;
}

i,
em {
  font-style: italic;
}

a:link,
a:visited {
  @apply text-web-link underline;
}
a:active,
a:hover {
  @apply text-web-link-hover underline;
}

*:focus {
  @apply outline-2 outline-offset-2 outline-web-primary;
}
