
.buttonReset {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  line-height: normal;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0;
  text-align: inherit;
  width: auto;
}
.buttonReset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.interactive {
  @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-web-input-focus focus-visible:ring-offset-1;
}

:global(html.dark) .interactive {
  @apply ring-offset-blue-400;
}
